<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/22cf143bf2.js" crossorigin="anonymous"></script>

<link href='https://fonts.googleapis.com/css?family=Berkshire Swash' rel='stylesheet'>
    <link  rel="stylesheet" href="/css/style.css" >
</head>
<body>
  <!-- navbaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaar- -->
  <nav  class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"style="font-family: 'Montserrat'" href="/">Main</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
      <a class="navbar-brand" style="font-family: 'Montserrat'" href="about">About</a>
      </li>
      <li class="nav-item active">
      <a class="navbar-brand" style="font-family: 'Montserrat'" href="home">Home <i  class='bx bx-home-heart' ></i></a>
      </li>
      <li class="nav-item" width="520px">
      <a class="navbar-brand" width="520px" style="font-family: 'Montserrat'" href="saved">Saved <i class='bx bx-heart' ></i></a>
      </li>
      <% if(req.isAuthenticated()){%>
          <% if (user.role=="admin"){%>
      <li class="nav-item">
      <a class="navbar-brand" style="font-family: 'Montserrat'" href="users">Users</a>
      </li>
      <%}%>  <%}%>
    </ul>
  </div>


    <% if(req.isAuthenticated()){%>

      <form  action="/account" method="get">
        <div style="padding-right:10px;" >
            <button  type="submit"  style="font-family: 'Montserrat';background-color:#ffd800" class="btn btn-outline-dark"><%=user.username%></button>
        </div>
      </form>
      <form  action="/logout" method="get">
        <div style="padding-right:10px;" >
            <button  type="submit"  style="font-family: 'Tahoma'"  class="btn btn-info" ><big><i class='bx bx-log-out'></i></big></button>
        </div>
      </form>
  <%}else{%>

    <form  action="/signIN" method="get">
      <div style="padding-right:10px;" >
          <button  type="submit"  style="font-family: 'Tahoma'" class="btn btn-info">Sign in</button>
      </div>
    </form>

  <form  action="/registr" method="get">
    <div  style="padding-right:10px;">
        <button   type="submit"  style="font-family: 'Tahoma'" class="btn btn-dark">Sign up</button>
    </div>
    </form>
  <%}%>

</nav>
<body style="background-color:#fff">
  <!-- navbarrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr -->

<h2  style="font-family:Berkshire Swash;text-align:center; ">Your home<small><i class='bx bxs-home' style="color:rgba(93,220,246,0.89)"></i></small></h2>
<form action="/update/<%=home._id%>/oe"  method="post" enctype="multipart/form-data" >
  <div style="margin:50px 270px 80px 270px">

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">City</label>
    <div class="col-sm-10">
      <input name="city" type="text"  value="<%=home.city%>" class="form-control" placeholder="City">
    </div>
  </div>
  <br>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Conditions</label>
    <div class="col-sm-10">
      <textarea name="conditions" class="form-control" rows="4" cols="4"  ><%=home.conditions%></textarea>
    </div>
  </div>
  <br>
  <fieldset class="form-group">
    <div class="row">
      <label class="col-form-label col-sm-2 pt-0" style="border:none">Image your home</label>
      <div class="col-sm-10">
        <div class="form-check" id="fromPC" >
          <label  class="form-label">Image 1</label>
          <input class="form-control" name="myFile" type="file">
        </div>
    </div>
    </div>
  </fieldset>

  <br>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">How much day?</label>
    <div class="col-sm-10">
      <input name="day" type="text" class="form-control" placeholder="number"  value="<%=home.day%>">
    </div>
  </div>
  <br>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Full location</label>
    <div class="col-sm-10">
      <input name="location" type="text" class="form-control"  value="<%=home.location%>" placeholder="Full location">
    </div>
  </div>
  <hr>
  <div class="form-group row ">
    <div class="col-sm-12">
      <button type="submit"   style="float:right" value="edit" name="button" class="btn btn-info">Publish</button>
          <a href="/mynews" style="text-decoration: none"> <button  name="btn"  style="float:right" value="cancel" class="btn btn-outline-secondary" >Cancel</button> </a>
    </div>
  </div>

</div>
</form>


<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
<footer>
        <p style="  margin-top: 30px;">© 2018 Gandalf</p>
    </footer>
</body>
